[2020-10-11 03:54] hi-rustin opened #4 "Use branch protection to github actions"
Waiting https://github.com/kubernetes/test-infra/pull/19724 landed.

[2020-10-15 05:55] todo[bot] opened #20 "use tidb community deck url."
https://github.com/tidb-community-bots/ti-community-prow/blob/c90b904f48f9e21c8aff621c3671a32602d415fe/pkg/externalplugins/config.go#L127-L132

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c90b904f48f9e21c8aff621c3671a32602d415fe when #19 was merged. cc @Rustin-Liu.

[2020-10-15 05:55] todo[bot] opened #21 "use tidb community url."
https://github.com/tidb-community-bots/ti-community-prow/blob/c90b904f48f9e21c8aff621c3671a32602d415fe/pkg/externalplugins/config.go#L131-L136

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c90b904f48f9e21c8aff621c3671a32602d415fe when #19 was merged. cc @Rustin-Liu.

[2020-10-15 05:55] todo[bot] opened #22 "use tidb community url."
https://github.com/tidb-community-bots/ti-community-prow/blob/980e152f712334b521c21ca2f613ea09aa56ee95/pkg/externalplugins/config.go#L131-L136

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 980e152f712334b521c21ca2f613ea09aa56ee95. It&#x27;s been assigned to @Rustin-Liu because they committed the code.

[2020-10-15 05:55] #21 closed

[2020-10-15 11:51] #22 closed

[2020-10-15 11:51] #20 closed

[2020-10-17 07:48] Rustin-Liu commented on #4
/lifecycle frozen

[2020-10-21 04:50] todo[bot] opened #50 "Waiting https://github.com/kubernetes/ingress-gce/issues/1075 landed."
https://github.com/tidb-community-bots/ti-community-prow/blob/e524550e9e340b4831d2e10cc6efcd77823917f9/configs/prow/cluster/ing_ingress.yaml#L9-L12

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e524550e9e340b4831d2e10cc6efcd77823917f9 when #49 was merged. cc @Rustin-Liu.

[2020-10-21 04:50] todo[bot] opened #51 "Waiting https://github.com/kubernetes/ingress-gce/issues/1075 landed."
https://github.com/tidb-community-bots/ti-community-prow/blob/f2136e12a04e96f70f7a77acb1d71937791bcb75/configs/prow/cluster/ing_ingress.yaml#L9-L12

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f2136e12a04e96f70f7a77acb1d71937791bcb75. It&#x27;s been assigned to @Rustin-Liu because they committed the code.

[2020-10-21 04:50] #50 closed

[2020-10-29 05:21] todo[bot] opened #68 "Use global option from the prow config."
https://github.com/tidb-community-bots/ti-community-prow/blob/19da08811fce5599abd18bd34972d6b9214578ff/cmd/ticommunitylabel/main.go#L70-L75

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 19da08811fce5599abd18bd34972d6b9214578ff when #67 was merged. cc @hi-rustin.

[2020-10-29 05:21] todo[bot] opened #69 "Use global option from the prow config."
https://github.com/tidb-community-bots/ti-community-prow/blob/ae5112801e4c0cb2c436307b6734a58da861f8ac/cmd/ticommunitylabel/main.go#L70-L75

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ae5112801e4c0cb2c436307b6734a58da861f8ac. It&#x27;s been assigned to @hi-rustin because they committed the code.

[2020-10-29 05:21] #68 closed

[2020-10-29 05:40] hi-rustin commented on #69
/type enhancement

[2020-10-29 05:42] hi-rustin commented on #69
/type enhancement

[2020-10-29 05:48] hi-rustin commented on #69
/type enhancement

[2020-10-29 05:48] hi-rustin commented on #69
/type enhancement

[2020-10-29 05:52] hi-rustin commented on #69
/type enhancement

[2020-10-29 05:53] hi-rustin commented on #69
/type enhancement

[2020-10-29 05:54] hi-rustin commented on #69
/label test

[2020-10-29 05:56] hi-rustin commented on #69
/type enhancement

[2020-10-29 06:01] hi-rustin commented on #69
/type enhancement

[2020-10-29 06:02] hi-rustin commented on #69
/type enhancement

[2020-10-29 07:00] hi-rustin commented on #69
/type enhancement

[2020-10-29 07:01] hi-rustin commented on #69
/remove-type enhancement

[2020-10-29 07:01] hi-rustin commented on #69
/type test

[2020-10-29 07:02] hi-rustin commented on #69
/label test

[2020-10-29 07:03] hi-rustin commented on #69
/remove-type enhancement

[2020-10-29 07:04] hi-rustin commented on #69
/type enhancement

[2020-10-29 07:32] hi-rustin opened #73 "Cleanup the prow doc link"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

None

### Steps to reproduce(Optional)

### What is expected?

Cleanup the prow doc link

### What is actually happening?

[2020-10-29 07:32] hi-rustin commented on #73
/type bug

[2020-10-30 03:13] hi-rustin commented on #73
/type bug

[2020-10-30 03:16] hi-rustin commented on #73
/type a

[2020-10-30 07:08] #73 closed

[2020-11-02 07:46] hi-rustin commented on #69
/type bug

[2020-11-03 06:27] #4 closed

[2020-11-03 09:37] hi-rustin opened #90 "LGTM is triggered multiple times by the same person"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

None

### Steps to reproduce(Optional)

LGTM multiple times.

### What is expected?

Only triggered once.

### What is actually happening?

Triggered multiple times.

[2020-11-03 09:43] hi-rustin opened #91 "When we use prow bot, we still need to merge the master branch into PR"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

None

### Steps to reproduce(Optional)

Send a PR, when the master branch update, we need to update it to the PR.

### What is expected?

We can automaticly update the out of date PR.

### What is actually happening?

We need to update manually.

[2020-11-03 09:45] hi-rustin commented on #91
/assign

[2020-11-03 09:45] hi-rustin commented on #90
/assign

[2020-11-06 16:08] hi-rustin opened #107 "Support custom lgtm number for owner plugin"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

I want to custom the needs lgtm number by PR label.

### Do you have any ideas on how to implement it?(Optional)

Support it  by owners.

[2020-11-06 16:08] hi-rustin commented on #107
/type feature

[2020-11-07 05:45] hi-rustin commented on #107
/ping

[2020-11-07 05:46] hi-rustin commented on #107
/ping

[2020-11-07 05:51] hi-rustin commented on #107
/ping

[2020-11-07 05:56] hi-rustin commented on #107
/ping

[2020-11-07 05:57] hi-rustin commented on #107
/merge

[2020-11-07 05:58] hi-rustin commented on #107
/merge

[2020-11-07 05:58] hi-rustin commented on #107
/merge

[2020-11-07 05:59] hi-rustin commented on #107
/merge

[2020-11-07 06:07] hi-rustin commented on #107
/ping

[2020-11-07 06:07] hi-rustin commented on #107
/merge

[2020-11-07 06:26] hi-rustin commented on #107
/ping

[2020-11-07 06:26] hi-rustin commented on #107
Close by #108

[2020-11-07 06:26] #107 closed

[2020-11-13 16:05] hi-rustin opened #136 "The deprecated `namespace` and `additional_namespaces` properties have been removed from the config updater plugin"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

None

### Steps to reproduce(Optional)
None
### What is expected?
Remove these properties.
### What is actually happening?
We still use these properties.

[2020-11-14 03:52] #136 closed

[2020-11-15 12:12] hi-rustin opened #144 "When adding or updating sig label, blunderbuss supports re-cc to reviewers"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

When adding or updating sig label, blunderbuss supports re-cc to reviewers.

### Do you have any ideas on how to implement it?(Optional)

[2020-11-15 12:13] hi-rustin commented on #144
/type feature

[2020-11-15 12:18] hi-rustin commented on #91
close by https://github.com/tidb-community-bots/ti-community-prow/pull/132

[2020-11-15 12:18] #91 closed

[2020-11-15 12:28] hi-rustin commented on #51
Waiting upgrade gke to 1.18.

[2020-11-16 03:10] hi-rustin opened #147 "Migrate the external plugin config path"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link
None

### Steps to reproduce(Optional)
None
### What is expected?
Migrate the external plugin config path.
### What is actually happening?
Still in `plugins` path.

[2020-11-16 03:15] hi-rustin commented on #147
/help

[2020-11-19 13:48] hi-rustin opened #153 "Move label and label prefix constants to label.go"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:
Move label and label prefix constants to label.go

### Do you have any ideas on how to implement it?(Optional)

[2020-11-19 13:49] hi-rustin commented on #153
/type feature

[2020-11-19 13:49] hi-rustin commented on #153
/good-first-issue

[2020-11-19 15:03] sheetalsingala commented on #153
Can I work on this?

[2020-11-19 15:23] hi-rustin commented on #153
Of course. :+1:

[2020-11-20 02:17] hi-rustin commented on #153
You can refer to https://github.com/kubernetes/test-infra/blob/master/prow/labels/labels.go.

[2020-11-20 09:24] hi-rustin opened #156 "When the sig label is not found, all collaborators have LGTM and Merge permissions"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

None

### Steps to reproduce(Optional)

Non sig label PR.

### What is expected?

Only write and admin collaborators can LGTM and Merge.

### What is actually happening?

All collaborators have LGTM and Merge permissions

[2020-11-20 09:24] hi-rustin commented on #156
/assign

[2020-11-23 04:43] #156 closed

[2020-11-25 15:15] hi-rustin opened #166 "Add a page for ti-community-owners"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

https://github.com/pingcap/tidb-operator/pull/3522#issuecomment-733509452

### Describe the feature you'd like:

For now, we directly expose the URL to the collaborators, and we need a page to display these content.

###

[2020-11-25 15:15] hi-rustin commented on #166
/type feature

[2020-11-25 15:18] hi-rustin commented on #166
/assign @fireairforce

[2020-11-25 15:21] hi-rustin commented on #166
/assign @ti-community-prow-bot

Assign to bot but @fireairforce will working on this.

[2020-11-25 15:22] hi-rustin commented on #166
/help

[2020-11-25 15:28] hi-rustin commented on #153
Hey @sheetalsingala  Are you still working on this?

[2020-11-27 03:29] DanielZhangQD opened #168 "Support setting required LGTM numbers for different branches"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:
tidb-operator
- PR or Issue Link:

### Describe the feature you'd like:
For master branch, we require two LGTMs for each PR.
For release branches, we can require 1 LGTM for each PR.
### Do you have any id

[2020-11-27 04:44] hi-rustin commented on #168
/type feature

[2020-11-27 04:45] hi-rustin commented on #147
/good-first-issue

[2020-11-27 12:48] fireairforce commented on #166
I will try this one.

[2020-12-01 14:17] hi-rustin commented on #166
/assign @fireairforce

[2020-12-01 14:19] hi-rustin commented on #166
/unassign @ti-community-prow-bot

[2020-12-03 03:54] JmPotato opened #181 "Update branch merging will cover up the /run-all-tests command"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: PD

- PR or Issue Link: tikv/pd#3244

### Steps to reproduce(Optional)

`/merge` a PR that is out of date with the upstream branch.

### What is expected?

The bot will update the branch by merging it with the upstream branch and then trigger the `/run-al

[2020-12-03 04:02] hi-rustin commented on #181
/help

[2020-12-07 08:07] #181 closed

[2020-12-08 07:53] hi-rustin commented on #153
/milestone v0.16.2

[2020-12-08 07:53] hi-rustin commented on #153
/assign @Mini256

[2020-12-08 08:46] hi-rustin opened #188 "Support multiple trusted teams for ti-community-owners"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)
None

### Describe the feature you'd like:
Support multiple trusted teams for ti-community-owners.

### Do you have any ideas on how to implement it?(Optional)

[2020-12-08 08:46] hi-rustin commented on #188
/type feature

[2020-12-09 02:51] hi-rustin commented on #147
/milestone v0.16.2

[2020-12-09 02:52] hi-rustin commented on #147
/assign @Mini256

[2020-12-10 03:27] #153 closed

[2020-12-10 03:40] Mini256 commented on #147
Only change the path for the other file in the /cmd folder like PR #146 ?

[2020-12-10 03:44] hi-rustin commented on #147
Better also change the deployment file.

[2020-12-10 10:37] andylokandy opened #195 "Make a great name"
## Feature Request

IMO, `ti-community-prow-bot` is too long to remember and recall. We may want a new bright and sharp name for it.

Also, we have `ti-challenge-bot` and `ti-community-bot`. I'd like to make them into one from the contributors' perspective.

[2020-12-10 10:38] andylokandy commented on #195
/cc @hi-rustin @Mini256 @AndreMouche

[2020-12-10 10:43] hi-rustin commented on #195
`ti-challenge-bot` and `ti-community-bot` are github applications, so we can't use the same names.

[2020-12-10 10:52] andylokandy commented on #195
For example:

- tick
- teddy
- ti-bot

[2020-12-10 10:59] hi-rustin commented on #195
How about `ti-prow-bot` ?🤣

[2020-12-10 10:59] hi-rustin commented on #195
/assign

[2020-12-10 10:59] hi-rustin commented on #195
/assign @AndreMouche

[2020-12-11 04:35] hi-rustin commented on #195
/assign @sykp241095  Could you please take a look?

[2020-12-11 04:35] hi-rustin commented on #195
/assign @sykp241095
Could you please take a look?

[2020-12-14 03:57] hi-rustin commented on #188
/millstone v0.16.3

[2020-12-14 03:58] hi-rustin commented on #188
/milestone v0.16.3

[2020-12-14 03:58] hi-rustin commented on #168
/milestone v0.16.3

[2020-12-14 03:58] hi-rustin commented on #168
/assign @Mini256

[2020-12-14 03:58] hi-rustin commented on #188
/assign @Mini256

[2020-12-14 06:32] #147 closed

[2020-12-15 07:14] todo[bot] opened #205 "it should be require-contexts."
https://github.com/tidb-community-bots/ti-community-prow/blob/ff6f474dd43a7a82ba0424e4ae50cfea2613ac7b/internal/pkg/rerere/rerere.go#L61-L64

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ff6f474dd43a7a82ba0424e4ae50cfea2613ac7b when #204 was merged. cc @hi-rustin.

[2020-12-15 07:14] todo[bot] opened #206 "it should be require-contexts."
https://github.com/tidb-community-bots/ti-community-prow/blob/efbefdd6acc17494bbe5193fe4cfd85f41002415/internal/pkg/rerere/rerere.go#L61-L64

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in efbefdd6acc17494bbe5193fe4cfd85f41002415. It&#x27;s been assigned to @hi-rustin because they committed the code.

[2020-12-15 07:14] hi-rustin commented on #205
Duplicate of #205

[2020-12-15 07:14] #205 closed

[2020-12-15 07:15] hi-rustin commented on #206
/type bug

[2020-12-15 13:18] #206 closed

[2020-12-15 14:12] hi-rustin commented on #168
/milestone clear

[2020-12-15 14:12] hi-rustin commented on #168
/milestone v0.16.5

[2020-12-15 14:13] hi-rustin commented on #188
/milestone clear

[2020-12-15 14:13] hi-rustin commented on #188
/milestone v0.16.5

[2020-12-17 09:26] sykp241095 commented on #195
How about tidb-robot, that's political correctness.

[2020-12-17 10:30] Mini256 commented on #195
Maybe ti-booster or ti-boost-bot？

The prow is the forward part of the hull of a ship or boat. A good bow design can reduce the resistance of ships sailing in the sea.

The Chinese name of PingCAP points out that our goal is the stars. Maybe we can design a great booster that is important for the rocket to explore the stars.

[2020-12-17 12:19] hi-rustin commented on #188
/close

close by #210

[2020-12-17 12:19] #188 closed

[2020-12-17 12:19] hi-rustin commented on #168
/close

close by #210

[2020-12-17 12:19] #168 closed

[2020-12-17 14:24] hi-rustin opened #211 "Add a delay time for blunderbuss to wait for sig label to be added."
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

Add a delay time for blunderbuss to wait for sig label to be added.

### Do you have any ideas on how to implement it?(Optional)

[2020-12-17 14:29] hi-rustin opened #212 "Refactor the code to remove //nolint:scopelint."
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link
such as:

https://github.com/tidb-community-bots/ti-community-prow/blob/b1939d98af73543bfdc4ce7e3bf4d769001fa19a/internal/pkg/externalplugins/merge/merge_test.go#L1

### What is expected?
Remove `//nolint:scopelint`.

[2020-12-17 14:29] hi-rustin commented on #212
/help

[2020-12-17 14:29] hi-rustin commented on #212
/good-first-issue

[2020-12-17 14:30] hi-rustin commented on #211
/assign @Mini256

/milestone v0.16.5

[2020-12-17 14:31] hi-rustin commented on #211
I think it can be made a configuration item.

[2020-12-18 03:31] andylokandy commented on #195
But TiKV will use it too...

[2020-12-18 04:39] hi-rustin opened #213 "The autoresponder should support all comment events"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

The autoresponder should support all comment events.

For now it's only support issue comment event.

### Do you have any ideas on how to implement it?(Optional)

[2020-12-18 04:43] hi-rustin opened #214 "The "status/can-merge" label is also not removed when editing files on GitHub"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link
None

### Steps to reproduce(Optional)

1. /merge add `status/can-merge`
2. editing files on GitHub

### What is expected?
Auto remove `status/can-merge` label.

### What is actually happening?
No response.

[2020-12-18 04:50] hi-rustin commented on #213
/help

[2020-12-18 05:36] Mini256 commented on #211
How long is the default delay appropriate?

[2020-12-18 05:38] hi-rustin commented on #211
5 second.

[2020-12-18 06:03] Mini256 commented on #211
Do we need to wait for the delay time, when the event triggered by the /auto-cc command?

[2020-12-18 06:06] hi-rustin commented on #211
No need. Because it is manually triggered.

[2020-12-18 10:09] #211 closed

[2020-12-18 10:22] sticnarf commented on #195
Although "Ti-ql" was nominated by me, I would vote against this name (and similar names like "tql"). The name shouldn't be understandable to people all round the world.

[2020-12-18 10:41] hi-rustin commented on #195
I really like `ti-booster`.

[2020-12-19 09:03] #213 closed

[2020-12-21 02:38] hi-rustin commented on #144
/milestone v0.16.6

[2020-12-21 02:39] hi-rustin commented on #144
/milestone v0.16.6

[2020-12-21 02:40] hi-rustin commented on #144
/assign @Mini256

[2020-12-24 08:48] Mini256 opened #229 "Need Test to determine that the plugin cancels all reviewers in the PENDING state, not all reviewers."
## Feature Request

- [x] Through testing in the dev server, determined that the plugin cancels all reviewers in the PENDING state, not all reviewers.

### Is your feature request related to a Issue or PR(Optional)

- Which project: ti-community-infra/ti-community-prow

- PR or Issue Link:  https://github.com/ti-community-infra/ti-community-prow/pull/228

### Describe the feature you'd like:
Only

[2020-12-25 08:50] #144 closed

[2020-12-25 08:50] todo[bot] opened #230 "Put the setDefaults function in a more suitable place."
https://github.com/ti-community-infra/ti-community-prow/blob/0e9eb68a432db5f5beac411e9b102fcaf18143e6/internal/pkg/externalplugins/config.go#L312-L317

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0e9eb68a432db5f5beac411e9b102fcaf18143e6 when #228 was merged. cc @Mini256.

[2020-12-25 08:50] todo[bot] opened #231 "Put the setDefaults function in a more suitable place."
https://github.com/ti-community-infra/ti-community-prow/blob/108693ae7977835632d3809e42e79e4976f1c21f/internal/pkg/externalplugins/config.go#L312-L317

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 108693ae7977835632d3809e42e79e4976f1c21f. It&#x27;s been assigned to @Mini256 because they committed the code.

[2020-12-25 08:51] hi-rustin commented on #230
Duplicate of #231

[2020-12-25 08:51] #230 closed

[2020-12-28 07:57] hi-rustin commented on #212
/milestone v0.16.7

[2020-12-28 08:02] hi-rustin commented on #212
/milestone v0.16.7

[2020-12-28 08:03] hi-rustin commented on #212
/milestone v0.16.7

[2020-12-28 08:06] hi-rustin commented on #229
@Mini256

I think you can test it on test-dev repo when this https://github.com/ti-community-infra/ti-community-prow/pull/234 PR landed.

Before your test it you should change the test-dev configuration to use sig-community-infra permissions.

[2020-12-28 08:40] Mini256 commented on #229
ok! which files should I modify?

[2020-12-28 12:35] hi-rustin commented on #229
plugins.yaml and external_plugins_config.yaml

[2020-12-29 07:22] hi-rustin commented on #229
@Mini256 Feel free close it if you think it working fine.

[2020-12-29 09:33] Mini256 commented on #229
finish in:
https://github.com/ti-community-infra/test-dev/pull/249
https://github.com/ti-community-infra/test-dev/pull/248

[2020-12-29 09:33] #229 closed

[2020-12-30 09:10] hi-rustin commented on #212
/close

By https://github.com/ti-community-infra/ti-community-prow/pull/239

[2020-12-30 09:10] #212 closed

[2021-01-04 06:34] hi-rustin opened #243 "docs: add plugins and components summary"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: configs

- PR or Issue Link: https://github.com/ti-community-infra/configs/pull/89#discussion_r551119768

### Describe the feature you'd like:

add plugins and components summary.

### Do you have any ide

[2021-01-06 20:02] nrc opened #248 "Prow issue: lgtm suggestion is provided unnecessarily"
E.g., https://github.com/tikv/tikv/pull/9430#issuecomment-755039808

In this case I wrote "lgtm" as a review summary comment when I approved the PR. The suggestion from the bot is therefore unnecessary. Perhaps you can check for this case?

[2021-01-07 02:53] Mini256 commented on #248
This response is generated by the ti-community-autoresponder plugin, at present, this plugin does not distinguish different types of comments in the configuration. Maybe we can add this feature? @hi-rustin

[2021-01-07 03:01] hi-rustin commented on #248
Currently the autoresponder plugin can't decide whether to approve or not, it will only reply based on the content. And the reply will be removed at the end of this month. Maybe we can add a sentence that if you have already approved the PR please ignore this reply, the autoresponder will be removed on January 31, 2020.

@nrc  @Mini256 What do you think?

[2021-01-07 03:05] hi-rustin commented on #248
Maybe it can be supported. (I'm not sure if it's better to have it support distinguishing between various comment events, or to keep it to content-only replies.)

[2021-01-07 03:08] hi-rustin commented on #248
/assign

[2021-01-07 04:47] hi-rustin commented on #248
Yes, this is just a temporary reply during the bot migration, and will be removed once everyone is familiar with the new bot.
We can already distinguish between a normal comment and a review comment, but we can't tell if it's an approved review comment.

[2021-01-07 20:46] #248 closed

[2021-01-08 03:10] hi-rustin commented on #231
/type refactor

[2021-01-08 03:12] hi-rustin commented on #195
/remove-type feature

/type enhancement

[2021-01-08 03:23] hi-rustin commented on #195
/unassign AndreMouche

[2021-01-08 03:26] hi-rustin commented on #195
I will gather all the alternative names for voting next Wednesday.

[2021-01-08 03:38] disksing commented on #195
`ti-chi-bot`++

[2021-01-08 04:54] andylokandy commented on #195
Vote for TiChi ☯

[2021-01-11 10:12] hi-rustin opened #253 "Can I merge my own PR?"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

In the past we used loose lgtm management, but to ensure that all code is reviewed when merging, the new bot places some restrictions on committers merging their own pr. Submitters are not allowed to merge their own pr directly.

[2021-01-11 10:15] hi-rustin commented on #253
From BusyJay

For example, if an overseas colleague commits a code and gets two lgtms after many days, and then changes a typo, he needs to wait at least one day to merge it again. But the author can merge it directly if he/she decides to do so.

[2021-01-11 10:19] hi-rustin commented on #253
If we didn't have this restriction, when the committer's PR have two lgtms, because we don't automatically remove the lgtm when there is a new commit, the committer could merge that pr without a review.

[2021-01-11 10:19] hi-rustin commented on #253
From @BusyJay

For example, if an overseas colleague commits a code and gets two lgtms after many days, and then changes a typo, he needs to wait at least one day to merge it again. But the author can merge it directly if he/she decides to do so.

[2021-01-11 10:25] hi-rustin commented on #253
In my opinion, I think this is a flaw in the mechanism, and I don't think committers should be allowed to merge their PRs from this perspective.

[2021-01-11 10:40] BusyJay commented on #253
To correct the context, TiKV has been allowing people who have write access to the project to merge any PRs that have two approvals with new commits for more than a year. We believe in trust instead of defending against our collaborators. Author should ask for new reviews when the changes are not pure fixing typos or fixing conflicts. /cc @nrc

[2021-01-11 20:38] nrc commented on #253
We should be aware that this is a trade-off, not a simple case of one approach is better. If we allow self-merge, we sacrifice some security for the sake of development velocity and if we don't, then we sacrifice some development velocity for the sake of security.

It's worth examining both sides of the trade-off to make a decision, but before we do that we should understand that both things are i

[2021-01-12 01:21] hi-rustin commented on #253
@nrc  Thank you for your patient explanation, I couldn't agree with you more from a benefit perspective.

[2021-01-12 08:55] Connor1996 opened #255 "Should clean the commit message for squash"
## Bug Report

The bot should clean the commit message when doing squash

### Steps to reproduce(Optional)

### What is expected?
![image](https://user-images.githubusercontent.com/13497871/104291806-f9871680-54f6-11eb-8d30-957b5149fe3f.png)

### What is actually happening?
![image](https://user-images.githubusercontent.com/13497871/104291800-f724bc80-54f6-11eb-8936-bdd1a2a4f9a9.png)

[2021-01-12 10:47] hi-rustin commented on #255
/reopen

[2021-01-13 03:32] hi-rustin opened #257 "owners support giving permissions to all sig reviewers and committers when there are no sig labels"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiKV

### Describe the feature you'd like:

owners support giving permissions to all sig reviewers and committers when there are no sig labels.

[2021-01-13 03:32] hi-rustin commented on #257
cc: https://github.com/ti-community-infra/configs/discussions/101

[2021-01-13 03:36] hi-rustin opened #258 "Create a label-blocker plugin to prevent the manual addition of certain key labels"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TKV

### Describe the feature you'd like:
Create a label-blocker plugin to prevent the manual addition of certain key labels.

For example:
We do not want collaborators to manually add `status/can-merge`

[2021-01-13 03:36] hi-rustin commented on #258
cc: https://github.com/ti-community-infra/configs/discussions/101#discussioncomment-275981

[2021-01-13 03:36] hi-rustin commented on #258
/cc @Mini256

What do you think?

[2021-01-13 03:37] hi-rustin commented on #257
/assign

[2021-01-13 03:49] Mini256 commented on #258
I think it's necessary, but we have to find a way to achieve it.

[2021-01-13 04:05] #255 closed

[2021-01-13 07:23] #257 closed

[2021-01-13 07:32] hi-rustin commented on #195
It seems that ti-chi-bot is winning.

[2021-01-13 09:28] andylokandy commented on #195
My personal idea is that `TiChi` sounds like a product and `ti-chi-bot` sounds like a, hmmm, bot.  What about the middle `ti-chi`.

[2021-01-13 09:31] hi-rustin commented on #195
I think it's better to bring the bot suffix. Otherwise the collaborator may not be quite sure it is a bot.

[2021-01-13 09:53] hi-rustin commented on #195
I will file a PR to change the name.

[2021-01-13 10:22] hi-rustin commented on #195
When we migrate to the GitHub app, we can probably call it TiChi because the GitHub app comes with a bot suffix.

[2021-01-13 10:37] zhangysh1995 opened #264 "make prow misses github_token.yaml"
## Bug Report

- [X] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

- PR or Issue Link:

### Steps to reproduce(Optional)
[code]

### What is expected?
It should apply the configuration to the cluster without errors

### What is actually happening?

[code]

I don't know what to do to fix it. A better explanation is neede

[2021-01-13 14:21] #195 closed

[2021-01-15 16:31] ice1000 commented on #195
Cool!

[2021-01-18 09:51] #166 closed

[2021-01-20 03:11] #253 closed

[2021-01-21 06:00] hi-rustin commented on #214
/cc @Mini256

What do you think?

[2021-01-21 06:01] #90 closed

[2021-01-22 06:59] #264 closed

[2021-01-22 07:02] hi-rustin commented on #69
Perhaps we could add one of these configuration items to the external plugin configuration.

[2021-01-22 07:04] hi-rustin commented on #69
/help

[2021-01-22 07:04] hi-rustin commented on #69
/good-first-issue

[2021-01-25 03:48] sykp241095 commented on #195
Cool!

[2021-01-28 07:41] hi-rustin commented on #231
/type bug

[2021-01-28 07:42] hi-rustin commented on #231
/remove-type bug

[2021-01-28 09:22] todo[bot] opened #306 "support label event of issue."
https://github.com/ti-community-infra/tichi/blob/043147ed2ca9cc48bd52e1e15313c389ed99bc75/cmd/ticommunitylabelblocker/main.go#L144-L149

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 043147ed2ca9cc48bd52e1e15313c389ed99bc75 when #304 was merged. cc @Mini256.

[2021-01-28 09:22] todo[bot] opened #307 "support label event of issue."
https://github.com/ti-community-infra/tichi/blob/1986e1442782b5a0a3d6b1866f70977ed836be40/cmd/ticommunitylabelblocker/main.go#L144-L149

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1986e1442782b5a0a3d6b1866f70977ed836be40. It&#x27;s been assigned to @Mini256 because they committed the code.

[2021-01-28 09:29] hi-rustin commented on #306
Duplicate of #307

[2021-01-28 09:29] #306 closed

[2021-01-29 02:32] hi-rustin commented on #307
@Mini256 cc: https://github.com/kubernetes/test-infra/pull/20620#event-4263137092

[2021-01-29 02:33] hi-rustin commented on #307
/type feature

[2021-01-31 11:26] hi-rustin commented on #258
/close by https://github.com/ti-community-infra/tichi/issues/258

[2021-01-31 11:26] hi-rustin commented on #258
/close

by #258

[2021-01-31 11:26] #258 closed

[2021-02-01 09:42] hi-rustin opened #315 "Support weighted assignment of reviewers based on code changes"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiUP

- PR or Issue Link: https://github.com/pingcap/tiup/pull/1116#issuecomment-770696017

### Describe the feature you'd like:

Support weighted assignment of reviewers based on code changes

### Do you

[2021-02-01 09:47] hi-rustin opened #316 "Add an external plugin configuration verification tool"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiChi

- PR or Issue Link: https://github.com/ti-community-infra/tichi/pull/312

### Describe the feature you'd like:
Add an external plugin configuration verification tool.

Like: https://github.com/kube

[2021-02-01 09:47] hi-rustin commented on #316
/cc @Mini256

[2021-02-01 09:48] hi-rustin commented on #315
cc: https://github.com/ti-community-infra/configs/pull/103

[2021-02-01 10:18] hi-rustin opened #317 "Use autobump to bump the k8s plugins version"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

- [x] Use autobump to bump the k8s plugins version.
- [x] Update docs

Like: https://github.com/falcosecurity/test-infra/blob/master/config/jobs/autobump/autobump.yaml

### Do y

[2021-02-02 13:09] #307 closed

[2021-02-15 05:27] hi-rustin commented on #315
/assign

[2021-02-19 06:32] hi-rustin commented on #315
Support get file commits in https://github.com/kubernetes/test-infra/pull/20908

[2021-02-20 06:00] #316 closed

[2021-02-24 05:36] hi-rustin commented on #69
/assign @Mini256

Could you please take a look?

[2021-02-24 05:39] hi-rustin commented on #214
/type wontfix

/close

The issue cannot be solved from a technical point of view.

[2021-02-24 05:39] #214 closed

[2021-02-24 05:41] Mini256 commented on #69
👌

[2021-02-24 05:44] hi-rustin commented on #69
We can add a log_level field to the external plugin's configuration. You can refer to https://github.com/kubernetes/test-infra/blob/1d6727f93573817878daebb26b6ae836946cd937/prow/config/config.go#L149

[2021-02-24 06:00] hi-rustin opened #356 "docs: translate all documents into English"
We need to translate all the documents into English.

[2021-02-24 06:07] hi-rustin opened #357 "Clean up the events that each plugin responds to"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

We don't have a clear definition of what each plugin responds to, for example the label plugin should respond to all comment events, not just issue comments, so I think we shoul

[2021-02-24 06:16] hi-rustin opened #358 "Migrate the test CI to prow jobs"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

In order to make better use of tide's feature, I want to migrate all the test-related CI of this org to prow job.

### Do you have any ideas on how to implement it?(Optional)

[2021-02-24 06:20] #231 closed

[2021-02-24 06:25] sykp241095 commented on #231
@todo

[2021-03-03 11:22] Mini256 opened #385 "Use JSON Schema to make IDE support yaml lint and hint."
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Describe the feature you'd like:

We can use JSON Schema to make IDE support yaml lint and hint, which can help us avoid some errors on IDE prompts.

### Do you have any ideas on how to implement it?(Optional)

We can use [jsonschema](https://github.com/alecthomas/jsonschema) to a

[2021-03-04 06:12] hi-rustin commented on #385
Cool!

[2021-03-05 08:06] hi-rustin opened #391 "Add contribution plugin for tichi"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

cc: https://github.com/ti-community-infra/rfcs/blob/main/active-rfcs/0001-contribution.md
### Describe the feature you'd like:

https://github.com/ti-community-infra/rfcs/blob/main/active-rfcs/0001-contribution.md

### Do

[2021-03-05 08:08] hi-rustin commented on #391
cc: @andylokandy

[2021-03-05 08:10] hi-rustin opened #392 "Add lifecycle plugin for tichi"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

cc: https://github.com/ti-community-infra/rfcs/blob/main/active-rfcs/0002-lifecycle.md

### Describe the feature you'd like:

https://github.com/ti-community-infra/rfcs/blob/main/active-rfcs/0002-lifecycle.md

### Do you

[2021-03-05 08:11] hi-rustin commented on #392
You can refer to https://github.com/kubernetes/test-infra/tree/master/prow/plugins/lifecycle

[2021-03-05 11:15] AstroProfundis opened #393 "Need some method to ignore checks for specific PR"
## Feature Request

- [ ] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:
TiUP

- PR or Issue Link:
https://github.com/pingcap/tiup/pull/1193

### Describe the feature you'd like:
We got the CI queue boomed when some config samples been edited multiple time today, so we introdu

[2021-03-08 06:02] #358 closed

[2021-03-08 06:55] Mini256 opened #394 "Standardize each plugin help provider"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

We need to standardize the help provider for each plugin to provide the standard format and content specification.

### Do you have any ideas on how to implement it?(Optional)

[2021-03-08 06:55] Mini256 opened #395 "Enable the release note tool of k8s for tidb and tikv and other repositories"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

Try enabling the release note tool for k8s for tidb and tikv and other repositories. It is best if you can migrate directly to use it.

### Do you have any ideas on how to imple

[2021-03-08 06:55] Mini256 opened #396 "Migrate cherry-pick to tichi"

[2021-03-08 07:08] Mini256 opened #397 "Add contribution guidelines and development documentation"
Add contribution guidelines and development documentation

[2021-03-08 07:09] Mini256 opened #398 "Improve monitoring infrastructure"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

None

### Describe the feature you'd like:

Improve monitoring infrastructure.

### Do you have any ideas on how to implement it?(Optional)

[2021-03-08 07:09] Mini256 opened #399 "rs-phony based on octokit/webhook"

[2021-03-08 10:35] hi-rustin commented on #393
I think it's hard to implement this feature because a check is required is a GitHub-provided mechanism to guarantee it, and tide's checks requirement is also done using GitHub branch protection.

I think there is a solution: set the always-running tests to required and make the rest optional. tide supports merging when [all CIs pass](https://github.com/kubernetes/test-infra/blame/master/prow/cmd/t

[2021-03-10 21:56] nrc opened #407 "Incorrect issue link"
See e.g., https://github.com/tikv/tikv/pull/9514#issuecomment-794880568, click on the details drop down, to file an issue there is a link to kubernates, where I assume it should link to this repo.

[2021-03-10 21:58] nrc opened #408 "'PR needs rebase' message is not useful"
GitHub tells me this information (plus more details), so this message is completely useless and just noise in my notifications.

E.g., https://github.com/tikv/tikv/pull/9514#issuecomment-794880568

[2021-03-11 02:22] Mini256 commented on #407
See: https://github.com/kubernetes/test-infra/issues/19629

[2021-03-11 06:04] hi-rustin commented on #391
/assign

[2021-03-11 06:04] hi-rustin commented on #317
/assign @Mini256

[2021-03-11 06:40] Mini256 opened #409 "ti-community-label exclude label option support regex"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Describe the feature you'd like:

There are some prefixed labels that we don’t want users to add directly through /label command.

At present, we can only add complete label names to exclude through the exclude_labels option of ti-community-label, such as `status/LGT1`, `status/LG

[2021-03-11 07:00] hi-rustin commented on #408
GitHub doesn't seem to push you a message if your pr is conflicting? And we can't see from the outside if the pr is conflicting, it not only replies to the message but also adds the label that requires rebase.

[2021-03-11 07:11] hi-rustin commented on #408
I think the main function of this plugin is to help notify people that pr is conflicting, which is very effective on top of some pr that is trying to merge, because GitHub doesn't tell you that your pr is conflicting. Also if we want to filter conflicting pr's, we just need to query them by label. So I think this is an effective feature.

[2021-03-12 06:59] nrc commented on #408
I guess depending on folks' work flow this is a feature, rather than a bug - I want a fairly  minimal set of notifications because my inbox quickly gets overwhelmed. My usual workflow is to wait for reviews and resolve all issues, then rebase. If I rebase whenever there is a conflict, I'd end up doing it all day :-(

I would prefer if the bot could label but not leave a comment - I can see that th

[2021-03-12 10:42] HunDunDM opened #411 "Redundant merge operation with the master"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:
  - [PD](https://github.com/tikv/pd)
- PR or Issue Link:
  - [PR-3471](https://github.com/tikv/pd/pull/3471)
  - [PR-3458](https://github.com/tikv/pd/pull/3458)

### Steps to reproduce(Optional)

* merge master to branch
* `/merge`

### What is expected?

[2021-03-12 15:33] hi-rustin commented on #408
I agree that this is a different workflow for individuals, but my habit is that I will check my emails and sync the information I am involved with. I want to have alerts when my pr conflicts, especially if I can and merged pr.

Actually bot will then delete that reply after resolving the conflict. But if you still find this unacceptable, since this plugin comes from [test-infra](https://github.com

[2021-03-16 03:18] #243 closed

[2021-03-16 05:42] #356 closed

[2021-03-17 04:51] andylokandy commented on #391
![2b2f442a7b58d7a1b686fc8fdee3dfd6](https://user-images.githubusercontent.com/9637710/111416755-77e27d80-871f-11eb-9e9d-6a913356a14a.gif)

[2021-03-17 05:10] hi-rustin commented on #391
I will finish it today.

[2021-03-17 06:14] Mini256 opened #423 "Add prow plugin document"

[2021-03-17 15:24] 9547 opened #426 "/cc should ignore words that do not begin with @"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: PD

- PR or Issue Link: https://github.com/tikv/pd/pull/3484

### Steps to reproduce(Optional)

![image](https://user-images.githubusercontent.com/29431502/111492725-e0f5df80-8777-11eb-93c4-734f74d3898f.png)

### What is expected?

`PTAL` should not treat

[2021-03-18 02:48] hi-rustin commented on #426
/clsoe

This is by design, and we support names that do not start with @. The purpose of this is to minimize the number of emails the reviewer may receive.

[2021-03-18 02:49] hi-rustin commented on #426
/close

[2021-03-18 02:56] hi-rustin commented on #426
You can try this:

/cc @xxx

PTAL~

[2021-03-18 03:38] hi-rustin commented on #426
/reopen

We need to add this part of the documentation and clarify the situation.

cc: https://github.com/ti-community-infra/tichi/issues/423

[2021-03-18 03:43] hi-rustin commented on #408
We will add the needs-rebase plugin documentation and explain the design.

cc: https://github.com/ti-community-infra/tichi/issues/423

[2021-03-18 03:50] #391 closed

[2021-03-18 03:51] todo[bot] opened #427 "(hi-rustin): Support passing in org, repo, num."
https://github.com/ti-community-infra/tichi/blob/052851ac8c251e6f84338c19c00406e1bef8e034/internal/pkg/externalplugins/label.go#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 052851ac8c251e6f84338c19c00406e1bef8e034 when #425 was merged. cc @hi-rustin.

[2021-03-18 03:51] todo[bot] opened #428 "Support passing in org, repo, num."
https://github.com/ti-community-infra/tichi/blob/8d01e952bebd41707b538c6ec63f0819a6a64bb0/internal/pkg/externalplugins/label.go#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8d01e952bebd41707b538c6ec63f0819a6a64bb0. It&#x27;s been assigned to @hi-rustin because they committed the code.

[2021-03-18 03:55] #427 closed

[2021-03-18 16:18] tisonkun opened #437 "Replace "internal / external contributor" term with more neutral word"
In [our document about contribution plugin](https://github.com/ti-community-infra/tichi/blob/master/docs/en/plugins/contribution.md) we use the term "internal" / "external" contributor, which likely introduces unexpected misunderstanding that why a newcomer / contributor not in org referred as "external". Somehow it is quite a bit offensive.

The original idea behind the plugin is neutral that we

[2021-03-21 02:34] hi-rustin commented on #437
I agree.

[2021-03-21 02:34] hi-rustin commented on #437
cc: @andylokandy  What do you think?

[2021-03-22 06:27] #428 closed

[2021-03-24 13:11] hi-rustin commented on #396
- [ ] support copy label
- [ ] support copy reviewer

[2021-03-24 13:17] hi-rustin commented on #317
@Mini256

Could you please add the documentation and add that job for c`onfigs` as well, I think the time can be a bit later than tichi so we can merge the PRs on configs after testing on tichi.
Also do you have any suggestions about the PR titles not being semantic?

[2021-03-24 13:49] Mini256 commented on #317
Thank you for the reminder.

ok.

Maybe rewriting scripts is the easiest way. 😆

[2021-03-24 14:15] hi-rustin commented on #317
I wonder if we should create an Issue or PR?

[2021-03-24 15:01] hi-rustin commented on #396
Because different robots experiences rip, I've started doing some pre-research and preparation.
The specific design will still be written later through RFC.

cc: @Mini256

[2021-03-24 16:18] hi-rustin commented on #396
/assign

[2021-03-25 04:17] lance6716 opened #446 "don't choose reviewer who already LGTM when `/auto-cc`"
## Feature Request

- [ ] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:

- PR or Issue Link:  https://github.com/pingcap/dm/pull/1532#issuecomment-806349691

### Describe the feature you'd like:

as title

### Do you have any ideas on how to implement it?(Optional)

[2021-03-25 06:49] DanielZhangQD commented on #411
https://github.com/pingcap/tidb-operator/pull/3872 and other PRs have the similar issue.

[2021-03-25 08:13] TisonKun commented on #437
For this part, if there is no pull request yet, I'd like to create one this weekend. Or if it requires voting, please show me the process.

[2021-03-25 11:26] lance6716 opened #448 "specify color for PR label"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:

- PR or Issue Link:

### Describe the feature you'd like:

it's better that "do-not-merge/hold" is red

### Do you have any ideas on how to implement it?(Optional)

[2021-03-26 10:05] hi-rustin commented on #437
Just modify it directly, thanks!

[2021-03-26 10:06] hi-rustin commented on #437
I think member/contributor might be better.

[2021-03-28 03:04] hi-rustin commented on #448
We already have such a tool to help maintain the label, which can be enabled if you need to change the tool.

https://book.prow.tidb.io/#/tools/label_sync

[2021-03-28 03:14] hi-rustin commented on #396
Maybe we should implement cherrypick as soon as possible, migrate the old features first, and then implement it via RFC when there are new requirements or changes needed.

[2021-03-28 03:15] hi-rustin commented on #396
I will start writing the code today.

[2021-03-28 08:24] hi-rustin commented on #396
<details>/type bug</details>

[2021-04-01 10:59] STRRL opened #457 "Failed to list PR of chaos-mesh/chaos-mesh at the "PR Status" on prow.tidb.io"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:
https://github.com/chaos-mesh/chaos-mesh

- PR or Issue Link:
https://github.com/chaos-mesh/chaos-mesh/pull/1621

Acatually, I could NOT list all the PR of chaos-mesh

### Steps to reproduce(Optional)

open that URL: https://prow.tidb.io/pr?query=is%3Apr%

[2021-04-02 10:40] todo[bot] opened #458 "Support comments with multiple cherrypick invocations."
https://github.com/ti-community-infra/tichi/blob/e5d2ef5a88dfebdfa94340a411b33cf11cba8c99/internal/pkg/externalplugins/cherrypicker/cherrypicker.go#L345-L350

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e5d2ef5a88dfebdfa94340a411b33cf11cba8c99 when #451 was merged. cc @hi-rustin.

[2021-04-02 10:40] todo[bot] opened #459 "refactoring to reduce complexity."
https://github.com/ti-community-infra/tichi/blob/e5d2ef5a88dfebdfa94340a411b33cf11cba8c99/internal/pkg/externalplugins/cherrypicker/cherrypicker.go#L438-L443

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e5d2ef5a88dfebdfa94340a411b33cf11cba8c99 when #451 was merged. cc @hi-rustin.

[2021-04-02 10:40] todo[bot] opened #460 "better to use addLabels API."
https://github.com/ti-community-infra/tichi/blob/e5d2ef5a88dfebdfa94340a411b33cf11cba8c99/internal/pkg/externalplugins/cherrypicker/cherrypicker.go#L579-L584

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e5d2ef5a88dfebdfa94340a411b33cf11cba8c99 when #451 was merged. cc @hi-rustin.

[2021-04-03 02:42] hi-rustin commented on #458
/unassign

/type feature

[2021-04-03 02:42] hi-rustin commented on #459
/unassign

/type refactor

[2021-04-03 02:43] hi-rustin commented on #460
/unassign

/type refactor

[2021-04-06 06:50] STRRL opened #465 "not-unified name in document: `needs-rebase` and `need-rebase`"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

I found that there are different names, `needs-rebase` and `need-rebase`, I think they are refs to the same plugin.

[2021-04-06 08:08] 634750802 commented on #423
https://prow.k8s.io/plugin-help.js?var=allHelp is containing all official documents, we could write some scripts to generate internal plugin documents automatically.

[2021-04-07 03:42] hi-rustin commented on #465
It's should be `needs-rebase`.

/help

/good-first-issue

[2021-04-09 03:56] #408 closed

[2021-04-09 03:56] #426 closed

[2021-04-09 03:56] #465 closed

[2021-04-12 08:14] hi-rustin commented on #448
/close

If you need to use the tool you can add the configuration to configs.

[2021-04-12 08:14] #448 closed

[2021-04-12 14:13] hi-rustin commented on #411
cc: https://github.com/pingcap/tidb/pull/23942#issuecomment-817842529

[2021-04-14 07:29] #317 closed

[2021-04-14 14:03] hi-rustin commented on #411
/reopen

by https://github.com/ti-community-infra/tichi/pull/477

[2021-04-17 04:03] hi-rustin commented on #457
Seems to work. https://prow.tidb.io/pr?query=is%3Apr%20author%3ASTRRL

[2021-04-17 04:03] #457 closed

[2021-04-17 04:03] hi-rustin commented on #411
/close

by https://github.com/ti-community-infra/tichi/pull/480

[2021-04-17 04:03] #411 closed

[2021-04-19 02:37] #437 closed

[2021-04-20 04:19] Mini256 opened #486 "Blunderbuss support include_reviewers config"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- PR or Issue Link: ti-community-infra/configs#268

### Describe the feature you'd like:

### Do you have any ideas on how to implement it?(Optional)

[2021-04-20 04:21] Mini256 opened #487 "Tars support exclude_labels option"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:

- PR or Issue Link:

### Describe the feature you'd like:

### Do you have any ideas on how to implement it?(Optional)

[2021-04-20 07:45] lichunzhu opened #488 "support `/lgtm` in comment"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Describe the feature you'd like:
https://book.prow.tidb.io/#/plugins/lgtm?id=%e4%b8%ba%e4%bb%80%e4%b9%88%e6%88%91%e5%9c%a8%e4%bd%bf%e7%94%a8-github-%e7%9a%84-review-%e5%8a%9f%e8%83%bd%e4%b8%ad%e7%9a%84-comment-%e6%97%b6%e5%a1%ab%e5%86%99-lgtm-%e6%97%a0%e6%95%88%ef%bc%9f
I want `/l

[2021-04-20 14:01] #488 closed

[2021-04-22 05:28] ran-huang commented on #486
cc: @qiancai looks like just the feature we need.

[2021-04-22 08:13] #458 closed

[2021-04-22 09:21] DanielZhangQD opened #495 "Support canceling the previous LGTMs if new commit submitted to a PR"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:

- PR or Issue Link:

### Describe the feature you'd like:
With the current implementation, if one reviewer marks LGTM after review, when the author pushes a new commit, the LGTM remains there, which is u

[2021-04-22 09:25] hi-rustin commented on #495
This is by design. We decided to trust our contributors, and when big changes happen and need to be re-reviewed, the reviewer or author can use /lgtm cancel to cancel the original LGTM.

[2021-04-23 06:27] #460 closed

[2021-04-27 05:18] hi-rustin opened #510 "Incorrect reply for cherry-pick comment"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

https://github.com/ti-community-infra/test-dev/pull/343#issuecomment-827318523

### Steps to reproduce(Optional)

### What is expected?

All branch mentioned.

### What is actually happening?
Only first branch.

[2021-05-03 14:35] hi-rustin commented on #495
I'm closing this issue, but if you still want the feature, please start a discussion in the contributor mail group to rework the review process.

/close

[2021-05-03 14:35] #495 closed

[2021-05-05 07:57] #487 closed

[2021-05-05 11:57] #510 closed

[2021-05-06 07:42] hi-rustin opened #524 "Tars should wait a few seconds after receiving a comment"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)
None

### Describe the feature you'd like:

Tars should wait a few seconds after receiving a comment before scanning, as the comment may be a `/unhold` or `/merge` command

### Do you have any ideas on how to implement it?

[2021-05-06 07:43] hi-rustin opened #525 "The autobumper broken"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

https://prow.tidb.io/view/gs/prow-tidb-logs/logs/periodic-tichi-autobump/1389234728460095488

### Steps to reproduce(Optional)

### What is expected?

Auto bump PR created.

### What is actually happening?
Got an error.

[2021-05-06 09:16] hi-rustin commented on #395
I created a draft: https://docs.google.com/document/d/1LRQq_rXwPwpK_w7jv7Z_RMPMHV5Jf2feBWCaFcpen4k/edit#heading=h.66y4kqbj468a

@CadmusJiang will help with the migration.

[2021-05-07 08:26] CadmusJiang commented on #395
Please tell me in which dir is the release check function of Tichi,thanks~

[2021-05-10 02:12] #524 closed

[2021-05-13 02:21] tisonkun opened #535 "More friendly reply when a review does not belong to a reviewer or committer"
ti-chi-bot replies `@tisonkun: /lgtm is only allowed for the reviewers in list.` if I review a pull request where I am not a reviewer or committer.

https://github.com/pingcap/tidb/pull/24463#issuecomment-837742624

... while the previous ti-sre-bot replies `Thanks for your review. The bot only counts LGTMs from Reviewers and higher roles, but you're still welcome to leave your comments.`

https:/

[2021-05-13 02:28] hi-rustin commented on #535
This is a good improvement! Maybe the response to invalid `/merge` needs to be improved too.

[2021-05-13 13:45] #535 closed

[2021-05-14 07:34] lance6716 opened #539 "When cherry-pick a conflicting PR, add a label to indicate this PR has conflicting"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:  DM

- PR or Issue Link:  https://github.com/pingcap/dm/pull/1695/files

### Describe the feature you'd like:

As title, I don't want to search if there's `<<<<<<<<`. And I do want bot to create a PR so i

[2021-05-16 09:00] hi-rustin commented on #539
I think it's a good idea that we can add a `status/cherry-pick-conflicting` label to the conflicts PR.

[2021-05-16 09:02] hi-rustin commented on #539
This is very easy to implement, if anyone wants to implement the feature you can ping me. I will provide some help!

[2021-05-16 10:30] hi-rustin commented on #446
When we do `/auto-cc` we already exclude reviewers that have been requested, but the example you provided uses `/lgtm` comment directly, so you don't count reviewers that have been requested or reviewed. This is not a place to tell if a review has been done with comment. So the problem cannot be solved.

[2021-05-16 10:31] hi-rustin commented on #446
/close

I'll close this issue, but if you have any more questions about it, please feel free to comment.

[2021-05-16 10:31] #446 closed

[2021-05-17 01:37] #486 closed

[2021-05-17 04:35] #525 closed

[2021-05-18 03:14] lance6716 commented on #539
provide a typical negative example: https://github.com/pingcap/dm/pull/1685/files

very hard to see there should be a conflict

[2021-05-24 05:54] qiancai opened #551 "After the PR merge, the ti-chi-bot deals with the cherry-pick request again because of PR label changes"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: pingcap/docs-dm

- PR or Issue Link: https://github.com/pingcap/docs-dm/pull/674

### Steps to reproduce(Optional)
1. Create a PR with a cherry-pick label to a certain release and the translation doing label.
2. Merge the PR.
3. After the bot creates the

[2021-05-24 09:39] wjhuang2016 opened #555 "Take action to /LGMT"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:
TiDB
- PR or Issue Link:

### Describe the feature you'd like:
Sometimes we may have the typo LGMT, I want to bot take "LGMT" as "LGTM" or remind the reviewer to fix it.

### Do you have any ideas on how

[2021-05-28 02:11] tisonkun opened #561 "Count LGTM only for review approval"
## Feature Request

This is the most [natural way](https://docs.github.com/en/github/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/approving-a-pull-request-with-required-reviews) we work with GitHub.

Support "lgtm" literal causes a number of confusions that

- want to tolerant typo https://github.com/ti-community-infra/tichi/issues/555
- confuse why review as comment and typ

[2021-05-28 03:28] hi-rustin commented on #561
This is a feature that we are supporting and delivering from old robots to new ones. If this feature needs to be modified, we need all repo owners to identify and support the change.

I personally support the change, it simplifies the mechanism of lgtm. But on the other hand, it actually breaks bot support for `/foo` style commands.

[2021-05-28 03:31] hi-rustin commented on #561
This is a break change, and I hope we can fully agree before making the change.

[2021-05-28 03:57] tisonkun commented on #561
I agree. However, we use bot to help the workflow and since we work on GitHub we'd better avoid conflict with native mechanism. Also comment text matching is brittle and so far our tichi bot cannot support full features accessing structural data as GitHub providing.

[2021-05-28 04:16] tisonkun commented on #561
Yes. I have to explain my motivation that there are insights work based on GitHub statistics, and if we use nonstructural comments we can hardly get any insight. Technically if tichi can build structural data on reaction it is ok but in fact it cannot.

I can find all repositories rely on this feature and notify the stakeholders.

- chaos-mesh @cwen0 @YangKeao
- tikv @zhangjingpeng1987 @BusyJay @a

[2021-05-28 04:20] zhangjinpeng1987 commented on #561
LGTM

[2021-05-28 04:45] lance6716 commented on #561
almost lgtm

there's a similar command: /label. should we also use GitHub native label actions and deprecate it? and I'm not sure we should keep a single and simple bot command intuition.

[2021-05-28 04:46] csuzhangxc commented on #561
LGTM

[2021-05-28 04:51] tisonkun commented on #561
Let's postpone this discussion to another pass. Label itself is a hard categorization problem, while approval is straightforward.

[2021-05-28 05:06] lance6716 commented on #561
lgtm

[2021-05-28 05:19] hi-rustin commented on #561
/label and auto-label are different things.

[2021-05-28 05:32] lance6716 commented on #561
I mean we could add label both by bot command and GitHub native action, just as /lgtm and approve.

[2021-05-28 05:37] tisonkun commented on #561
I'd suggest we postpone this discussion to another pass. Otherwise we mess discussion in one thread.

[2021-05-28 06:13] hi-rustin commented on #561
These two functions do not conflict, and /lgtm is a command that conforms to the product design.

[2021-05-28 06:14] hi-rustin commented on #561
What features are not supported? I think most of the features related to collaboration you can find in the plugins.

[2021-05-28 06:17] hi-rustin commented on #561
cc: @Mini256

[2021-05-28 06:22] hi-rustin commented on #561
Fundamentally, all our tools are command-based. So I don't think that's a good reason to modify it.

[2021-05-28 06:28] YangKeao commented on #561
LGTM

[2021-05-28 06:54] andylokandy commented on #561
Previously, the review permission is out of sync with Github's. As the result, some green approval will not take effect and some black approval will do. This brings new confusion.

[2021-05-28 07:11] tisonkun commented on #561
How can I know whether a member react to a requested review by `/lgtm` expect walk through all comments and do the same text matching as tichi implement it?

[2021-05-28 07:14] hi-rustin commented on #561
You don't know if it's a valid approve even if you use approve, but you still need to determine that based on the members information. I think listing all comments and all review actions is pretty much the same.

[2021-05-28 07:15] tisonkun commented on #561
It is our team configuration to be blamed, have nothing to do with GitHub mechanism.

No, it is current state. Not new.

No. Then you tend to reimplement everything GitHub already provides and it makes nonsense we use a saas service.

[2021-05-28 07:15] hi-rustin commented on #561
Random passersby can also approve

[2021-05-28 07:31] tisonkun commented on #561
Can you reflect reviewer reaction on requested reviewer block (as below)? But I think it requires the reviewer user permission.

![image](https://user-images.githubusercontent.com/18818196/119946800-99869d80-bfc9-11eb-9922-c39460480e09.png)

[2021-05-28 09:33] hi-rustin commented on #561
If your requirement is this, please update to your description. You can write in more detail in your description. (I think at least we need to synchronize the real needs we discuss offline to everyone)

If the repo owner agrees with these screenings, I fully support the changes!

[2021-05-28 09:49] tisonkun commented on #561
@hi-rustin I withdraw this requirement and given that more than half projects agree on count LGTM only for review approval I'd like to push on this direction.

- [x] chaos-mesh
- [x] tikv
- [x] tidb offline by @bb7133
- [x] pd offline by @disking
- [x] migration
- [x] operator, dashboard
- [ ] tiup
- [ ] docs

[2021-05-28 09:59] AstroProfundis commented on #561
I personally always use the builtin Approve button on Github webpage. But the question I got here is that: how do we accept reviewers outside PingCAP now? I think the `/lgtm` command was introduced to let reviewers have no write access to the repo to merge a PR.

If after the change, such reviewers are still able to review and merge PR without help of any PingCAPer, I'm good with it.

[2021-05-28 10:02] tisonkun commented on #561
Yes, of course. We receive pull request review event and validate permission as usual.

[2021-05-28 10:28] hi-rustin commented on #561
@tisonkun It seems that all repo owners have agreed to the change. I think we can move forward.
I'll mark the issue as help-wanted, and you can ping me or @Mini256 if you have any questions.

/help

[2021-05-28 10:33] hi-rustin commented on #561
In short we need to:
1. remove support for comment responses (comment and  review comment)
2. modify the documentation
3. clean up the configuration of events in configs, For example: https://github.com/ti-community-infra/tichi/blob/e9892d02d5c9d5f4733c0767db9a56cb69633253/configs/prow-dev/config/plugins.yaml#L67  (This is for the test environment, and we need to modify the production environment

[2021-05-28 11:28] tisonkun commented on #561
@hi-rustin yes. I'd like to post an (light) announcement of consensus above on internals.tidb.io first to get potential negative feedback ensuring we don't go in a wrong direction.

[2021-05-28 12:04] tisonkun commented on #561
Around the technical implementation part, I plan to

1. announce on https://internals.tidb.io
2. announce inside PingCAP since it has most contributors to ti community and this action causes impact.
3. keep `/lgtm` callback but only toast our consensus and not count LGTM any more.

[2021-05-28 12:13] hi-rustin commented on #561
This is a separate thing, please don't put it in the lgtm plugin. You can refer to: https://github.com/ti-community-infra/configs/pull/233/files

[2021-05-29 07:07] tisonkun commented on #488
@lichunzhu here is a proposal that revert this change and prefer native review approval action. https://github.com/ti-community-infra/tichi/issues/561

[2021-05-29 07:07] tisonkun commented on #555
@lichunzhu here is a proposal that avoid further AI-alike requirement on `/lgtm` and prefer native review approval action. https://github.com/ti-community-infra/tichi/issues/561

[2021-05-29 08:01] tisonkun commented on #561
/assign

[2021-05-29 08:03] tisonkun commented on #561
I just found that it is in another repo. Shall I create a sibling pull request there?

[2021-05-29 10:12] hi-rustin commented on #561
Yes, `configs` is configured for production environment. We need to add this autoresponder configuration after the release and upgrade.

[2021-05-29 10:47] hi-rustin commented on #561
Another breaking change, removing support for `/lgtm cancel` will prevent authors from requesting a re-review.

This is because GitHub does not allow you to approve and request change your own PRs.

[2021-05-29 11:11] hi-rustin commented on #555
This is common with command-based tools, and you can find command similarity matching and hinting features on almost any command tool. For example:

[code]

I'm not saying to support that feature (because of the problem of too many bot replies), just to emphasize that the whole tichi is a command-based tool. Our current proposal is clearly a disruption of tichi's design. Personally, I don't really

[2021-05-29 11:16] hi-rustin commented on #561
Some thoughts on this:

This is common with command-based tools, and you can find command similarity matching and hinting features on almost any command tool. For example:

[code]

I'm not saying to support that feature (because of the problem of too many bot replies), just to emphasize that the whole tichi is a command-based tool. Our current proposal is clearly a disruption of tichi's design. Pe

[2021-05-29 11:58] tisonkun commented on #561
make sense.

[2021-05-30 07:59] #555 closed

[2021-05-30 07:59] #561 closed

[2021-05-31 05:57] qiancai commented on #551
One more example for this bug: https://github.com/pingcap/docs-tidb-operator/pull/1210.

In this PR,  the ti-chi bot created the two cherry-pick PRs for the same release, one in https://github.com/pingcap/docs-tidb-operator/pull/1219 and the other in https://github.com/pingcap/docs-tidb-operator/pull/1228.

[2021-06-02 03:41] hi-rustin opened #570 "cherrypicker's unit tests cannot be tested on windows"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

- PR or Issue Link:

### Steps to reproduce(Optional)

Make dev on windows.

### What is expected?

It works.

### What is actually happening?

[code]

[2021-06-02 05:40] hi-rustin commented on #398
I think I have no time working this. So unassign myself.

[2021-06-02 12:08] #551 closed

[2021-06-08 13:24] hi-rustin commented on #315
/remove-lifecycle stale

[2021-06-10 11:39] hi-rustin commented on #392
After https://github.com/tikv/community/pull/122 is landed, permissions will be associated with each collaborator in each team, so test-infra's built-in lifecycle is already sufficient (the permissions control issue doesn't exist anymore). We don't need to develop another one. So I will close the Issue.

/close

[2021-06-10 11:39] #392 closed

[2021-06-10 15:38] hi-rustin commented on #570
/help

I don't have a windows device, so help would be appreciated!
I think it's a path issue and needs some tweaking for windows.

[2021-06-10 15:39] hi-rustin commented on #423
/help

Need more documentation and translations!

[2021-06-10 15:39] hi-rustin commented on #409
/remove-lifecycle stale

[2021-06-10 15:40] hi-rustin commented on #385
/remove-lifecycle stale

[2021-06-11 05:51] hi-rustin opened #590 "[Breaking Changes] Adding more granular GitHub permission controls for ti-community-owners"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

https://github.com/tikv/community/issues/123#issuecomment-854342014

The main purpose of what I am proposing here is to accommodate the new permission arch.

### Describe the feature you'd like:

Currently we have people

[2021-06-11 05:55] hi-rustin commented on #590
@STRRL You are currently using GitHub permissions to integrate with tichi, so this change will affect you, so I'd like to get your approval. Do you have any thoughts on this change?

cc: @Mini256  @tisonkun

[2021-06-11 06:12] STRRL commented on #590
PTAL @cwen0, I have no access to see the permission level of each member:sweat_smile:

I take a look at my own organization, but I do not found here is a permission level called `Triage`, not sure the same situation also happens in Chaos Mesh.

And it seems changing the permission level of each member is a huge manual work.

[2021-06-11 06:14] STRRL commented on #590
Except for these concerns, The new way about permission controls LGTM!

[2021-06-11 06:24] hi-rustin commented on #590
This is a beta feature and we do need to make sure chaosmesh is supported for this feature.

[2021-06-11 06:43] STRRL commented on #590
Could you tell me how to enable this feature for certain org? I do not find a guide. :cry:

[2021-06-11 07:43] hi-rustin commented on #590
https://github.community/t/how-to-give-triage-and-maintain-roles-to-a-team-member/3275/3 You can refer to this discussion, which is related to the subscription mode of the account.

[2021-06-11 08:45] STRRL commented on #590
I tried but I failed. :sob:

@cwen0 @yangkeao, PTAL

[2021-06-11 08:46] hi-rustin commented on #590
chaos-mesh should have this feature as a free version.

[2021-06-11 11:34] cwen0 commented on #590
This feature? ![image](https://user-images.githubusercontent.com/22956341/121680309-f9159a80-caeb-11eb-97b4-bbb0d185f5eb.png)

[2021-06-11 11:36] cwen0 commented on #590
Yes, This feature is supported!
![image](https://user-images.githubusercontent.com/22956341/121680588-4eea4280-caec-11eb-8a4c-44360530cc23.png)

[2021-06-13 02:32] #394 closed

[2021-06-13 05:52] #397 closed

[2021-06-17 06:56] #590 closed

[2021-06-17 09:46] hi-rustin commented on #590
https://github.com/ti-community-infra/configs/pull/356 Released!

cc: @STRRL @cwen0  Now you can have more granular permission control, if you encounter any problems please feel free to open an Issue.

[2021-06-18 09:39] hi-rustin commented on #315
We can do more fine-grained weighting based on size. We currently have APIs to get file additions and deletions.

cc: @Mini256

[2021-06-22 09:54] BusyJay opened #610 "Notifications for approval is spam"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: TiKV/TiDB

- PR or Issue Link: https://github.com/tikv/tikv/pull/10352#pullrequestreview-687061562

### Steps to reproduce(Optional)

Approve a PR and then you will be notified either by an email or github notification as a comment is added immediately.

[2021-06-23 16:02] hi-rustin commented on #610
This notification is needed here for three reasons.
1. the bot needs this information to determine if there are duplicate approvals.
2. want to clearly record and display the current PR review situation in this way.
3. the reply contains a link to the PR permissions and a link to the bot command help.

There is really a lot of information, so I think we can just create a comment and keep update it

[2021-06-24 03:05] Mini256 commented on #610
The problem is mainly to notify what way should be updated more reasonably, I think we can try to only update one comment to reduce redundant Github notifications.

[2021-07-05 07:42] tisonkun opened #627 "Avoid request a wide range of reviewer on cherry-pick PR automatically"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: TiDB

- PR or Issue Link: https://github.com/pingcap/tidb/pull/25870

### What is expected?

Since a cherry-pick PR firstly requests release manager to approve the pick, it is no reason we request a wide  range of reviewer on it which causes just noise.

[2021-07-09 03:44] hi-rustin opened #636 "Unrelated code appears in cherrypick's PR"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: ticdc

- PR or Issue Link: https://github.com/pingcap/ticdc/pull/2181

### Steps to reproduce(Optional)

I don't know how to reproduce it.

### What is expected?

Do not add code that does not appear in the original PR.

### What is actually happening?

h

[2021-07-09 05:11] Mini256 commented on #636
It seems that it is not a completely unrelated file, because it has been modified in the original pr:
https://github.com/pingcap/ticdc/pull/2172/files#diff-03f95b96b27da3637e3aa86c8c47fe140af8529f7c9c78aa34372a6f13ca9718

[2021-07-09 05:16] Mini256 commented on #636
It seems that your PR merged into the release-5.1 branch faster than the PR that added the file.

[2021-07-09 05:20] hi-rustin commented on #636
What do you mean?

[2021-07-09 05:26] Mini256 commented on #636
This file is added to `master` by https://github.com/pingcap/ticdc/pull/1621, but it doesn't seem to be cherry-pick to `release-5.1`.

[2021-07-09 07:00] hi-rustin commented on #636
Are you saying that when we apply a patch to a branch, if the file doesn't exist, it will just copy the file? Is it possible that we can try to reproduce this issue locally?  Download the patch and apply it manually? if you don't have time I can try this weekend.

[2021-07-09 07:53] #627 closed

[2021-07-09 10:23] Mini256 commented on #636
[code]
![image](https://user-images.githubusercontent.com/5086433/125062819-61eb3500-e0e1-11eb-90b0-0bd38165c119.png)

[code]
![image](https://user-images.githubusercontent.com/5086433/125062885-75969b80-e0e1-11eb-8ceb-a74758f1d94a.png)

[code]
![image](https://user-images.githubusercontent.com/5086433/125063064-9e1e9580-e0e1-11eb-8d84-56b5271daaa6.png)

[code]
![image](https://user-images.githubu

[2021-07-12 05:47] Mini256 opened #640 "The prompt information of rerere needs to be optimized."
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### What is expected?

We need more friendly prompt information to let developers know the running status of rerere:

1.  'Waiting previous PRs merged' can be prompted on the CI status during the rerere wait PR merge
2. `.rerere.json` file needs to be formatted
3. The message body of retes

[2021-07-12 10:16] Mini256 opened #643 "Tars repeated Merge Master operation"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: TiDB

- PR or Issue Link: https://github.com/pingcap/tidb/pull/25792

### What is expected?

Never repeated Merge Master operations.

### What is actually happening?

In the example pr, the reviewer deletes the `status/can-merge` label within five seconds

[2021-07-19 02:46] Mini256 commented on #636
@hi-rustin, Do you have any questions about this Issue?

[2021-07-19 03:04] hi-rustin commented on #636
Thanks for your help in reproducing the issue! Can you try the GitHub patch? Also does this behavior need to be written into the documentation?

[2021-07-21 05:27] hi-rustin commented on #539
After trying this I found that it is not an easy fix. This is because git's detection of conflicts is rather complicated. There are false positives, for example: https://github.com/ti-community-infra/test-dev/pull/408

This PR does have a conflict, but it's a conflict between a delete and a modify operation, not a conflict in the code. There is currently no way to fix this issue.

[2021-07-22 09:26] #610 closed

[2021-08-06 05:48] Mini256 opened #675 "Add labels configuration CI check for tars plugins"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- PR or Issue Link: https://github.com/ti-community-infra/configs/pull/393

### Describe the feature you'd like:

If the label configuration of tars is different from the configuration of excluding labels for tide, it wil

[2021-08-11 02:53] hi-rustin opened #679 "ti-community-blunderbuss supports branch configuration"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiCDC

- PR or Issue Link: None

### Describe the feature you'd like:
ti-community-blunderbuss supports branch configuration.

Since the ticdc release branch does not need to be reviewed, only triage and

[2021-08-13 02:54] hi-rustin commented on #679
@Mini256

Could you please take a look?

[2021-08-13 08:32] Mini256 opened #685 "rerere not support private repository"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Steps to reproduce(Optional)

### What is expected?

support private repository.

### What is actually happening?

[code]

[2021-08-13 08:56] Mini256 opened #686 "Develop cherry-picker tools for contributors without write permission"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to an Issue or PR(Optional)

- PR or Issue Link: https://github.com/tikv/pd/pull/3798#issuecomment-863774241

### Describe the feature you'd like:

In the past, we launched a new cherry-picker tool to help contributors cherry-pick PR on the master b

[2021-08-13 09:15] Mini256 opened #687 "Respond to the contributor's /cherry-pick command through the reaction"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to an Issue or PR(Optional)

- Which project:

- PR or Issue Link:

### Describe the feature you'd like:

Respond to the contributor's `/cherry-pick` command through the [reaction](https://docs.github.com/en/rest/reference/reactions)

It will take s

[2021-08-18 03:11] tisonkun opened #694 "Support reviewer_team in lgtm plugin"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiDB

### Describe the feature you'd like:

We have trusted_team which effectively grants the team member committer permission. As tracked in https://github.com/pingcap/community/issues/520, we're going t

[2021-08-26 06:39] JaySon-Huang opened #702 "Add a description about how to resolve conflict of a cherry-pick PR"
## Feature Request

- [ ] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: All

- PR or Issue Link: https://github.com/pingcap/tidb/pull/25749

### Describe the feature you'd like:

I want a description about how to resolve the conflict of a cherry-pick PR. More explicitly:

* I

[2021-08-30 08:57] Mini256 commented on #679
I want to add the following configuration to the blunderbuss plugin to solve this problem, please help me to confirm these configuration items. @hi-rustin

### BranchConfig

| Parameter name    | Type     | Description                                                                                     |
|-----------------------|-------------------------|--------------------------------------------

[2021-08-30 16:10] hi-rustin commented on #679
Thanks! Why only the first one?

[2021-09-01 02:23] Mini256 commented on #398
/remove-lifecycle stale

[2021-09-01 05:13] Mini256 opened #716 "label blocker need to trusts the robot itself by default"
## Bug Report

- [ ] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

- PR or Issue Link:

### Steps to reproduce(Optional)

### What is expected?

### What is actually happening?

[2021-09-07 14:53] tisonkun commented on #686
Reference

* https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh
* https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md

[2021-09-07 14:57] tisonkun commented on #407
closed as by design.

Actually I'd prefer to be restrained to introduce new plugins especially those we cannot make modification. It forces our contributor on an immutable manner, which is poorly proven.

[2021-09-07 15:07] tisonkun opened #733 "Customize commit message, when the merging phase is controlled by tide"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiDB / TiKV / ...

### Describe the feature you'd like:

Previous discussion at https://internals.tidb.io/t/topic/361 .

So far, tide hijacks the merge phase and thus we cannot customize commit message. D

[2021-09-08 14:43] #636 closed

[2021-09-16 15:23] Mini256 commented on #395
Done.

Refer: https://github.com/ti-community-infra/configs/blob/4c31266ce88373ff38c56a6264d7ff3c2f2b87fd/prow/config/plugins.yaml#L249

[2021-09-16 15:23] #395 closed

[2021-09-17 07:09] qiancai opened #743 "Do not report the "The bot only counts approvals from reviewers and higher roles in list" message"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: https://github.com/pingcap/docs-cn

- PR or Issue Link: https://github.com/pingcap/docs-cn/pull/7142

### Steps to reproduce(Optional)

### What is expected?

For anyone who has approved a PR,  ti-chi-bot does not report the following message.

"Thanks fo

[2021-09-17 08:28] Mini256 commented on #743
/type bug

[2021-09-21 11:46] tisonkun commented on #743
@Mini256 @qiancai what do you think we just remove the toast as if the approver a reviewer, tichi just add a label.

The bad case may be the an approver asks that why his approval won't work, but we can manually teach them or it will be a rare case. Before and after the change, the rule stands, but reduce the disturbing comment.

[2021-10-10 16:13] solotzg opened #763 "ti-chi-bot keeps committing to target branch if PR close more than one issue"
## Bug Report

- [] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: tiflash

- PR or Issue Link: https://github.com/pingcap/tics/pull/3153

### Steps to reproduce(Optional)

- PR close more than one issue
- /merge

### What is expected?

- ti-chi-bot should commit once and close PR

### What is actually happening?

- ti-ch

[2021-10-10 16:14] solotzg commented on #763
Same problem: https://github.com/pingcap/tics/pull/3085

[2021-10-11 06:19] Mini256 commented on #763
In addition, there have been two other PRs that have had this problem before:

- https://github.com/pingcap/tics/pull/3045
- https://github.com/pingcap/tics/pull/3075

I have reported the issue to the GitHub support team before, but the issue still seems to be unresolved.

GitHub Support commented 13 days ago:

GitHub Support commented 24 days ago:

[2021-10-12 13:46] tisonkun opened #764 "Support checking pr issue association"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Describe the feature you'd like:
### Do you have any ideas on how to implement it?

Both see also details on the [proposal](https://github.com/tikv/community/pull/150).

[2021-10-15 10:26] #764 closed, assigned to nobody

[2021-10-16 05:41] tisonkun opened #768 "Support ignore checking pr issue association"
For example, use a label `skip-issue` or other name to note that a typo fix or trivial refactor / cleanup can skip checking pr issue association.

We're at the first place force every pr associated with an issue, but sooner or later meet this requirement. PR issue association is not a all-or-none choice, we should prepare for further trade off.

[2021-10-29 02:50] Mini256 opened #782 "Tars skips the trigger of `/merge` command because of network delay"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

- PR or Issue Link:

### Steps to reproduce(Optional)

### What is expected?

### What is actually happening?

Because of the network delay, after the `/merge` command was issued, the robot did not add the `status/can-merge` label in time, and the tars p

[2021-11-01 10:08] Mini256 opened #785 "label plugin not support label like "good first issue""
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

- PR or Issue Link:

### Steps to reproduce(Optional)

### What is expected?

Maybe we can respond to the command like `/label "good first issue"`, If someone wants to label multiple labels at the same time, the command format can be `/label "good first

[2021-11-09 12:58] Mini256 commented on #763
Good news!

[2021-11-18 06:27] lance6716 commented on #539
/remove-lifecycle rotten

[2021-11-24 03:37] #768 closed

[2021-12-10 05:17] ran-huang commented on #743
@Mini256 Will this issue be resolved in the near future?
It's really rude to tell anyone that your approval does not count. 🤣 See https://github.com/pingcap/docs-cn/pull/7862#issuecomment-990615143

[2021-12-10 08:04] Mini256 commented on #743
😢 @ran-huang Maybe I can add an option to let the owner of the repository decide whether prompts this message. The premise is our REVIEWER should be clear why the robot does not respond to my approval.

[2021-12-11 07:46] ran-huang commented on #743
@Mini256 😸 That'll be great! I can't speak for everyone, but our team (docs) could really use this option.

[2021-12-14 09:36] #743 closed

[2021-12-14 11:31] Mini256 commented on #743
@ran-huang @qiancai, Now you can enable the `ignore_invalid_review_prompt` option to make @ti-chi-bot  do not prompt this message when the review is not be counted.

[code]

Refer: https://book.prow.tidb.io/#/plugins/lgtm

[2021-12-28 06:43] Mini256 opened #856 "tars need to support the `review:approved` query condition"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:

- PR or Issue Link:

### Describe the feature you'd like:

### Do you have any ideas on how to implement it?(Optional)

[2021-12-29 05:09] Mini256 commented on #679
/remove-lifecycle rotten

[2021-12-30 03:46] Mini256 commented on #398
/remove-lifecycle rotten

[2021-12-31 04:06] Mini256 opened #857 "Merge plugin supports checking the PR content after `/merge` command"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiKV

- PR or Issue Link: https://github.com/tikv/community/pull/162#issuecomment-1003008100

### Describe the feature you'd like:

In the current [merge](https://book.prow.tidb.io/#/plugins/merge) plugin

[2021-12-31 06:22] #782 closed

[2022-01-27 03:55] ichn-hu opened #886 "bot adding may-affect for version that is not maintained"
## Bug Report

- [ ] I have searched the issues of this repository and believe that this is not a duplicate.

![image](https://user-images.githubusercontent.com/29735669/151289216-1841bf9f-7efb-445f-b0f2-6a98d625ddb9.png)

### Related link

https://github.com/pingcap/tidb/issues/32004

- Which project:

- PR or Issue Link:

### Steps to reproduce(Optional)

### What is expected?

version 2.1, 3.0,

[2022-01-27 04:29] #886 closed

[2022-01-27 14:52] Mini256 commented on #763
Since GitHub has already worked for it, I close this issue.

I hope the problem can be completely solved in the future version. Before that, we can avoid closing too many issues (more than 5) in one PR at the same time.

[2022-01-27 14:52] #763 closed

[2022-01-27 14:56] #687 closed

[2022-01-27 15:49] #733 closed

[2022-01-27 15:54] Mini256 commented on #733
We have provided some extensible tool functions in the commit template config of the forked tide to better customize the commit message.

Ref: https://book.prow.tidb.io/#/components/tide?id=%e5%b7%a5%e5%85%b7%e5%87%bd%e6%95%b0

cc: @tisonkun

[2022-02-23 14:28] Mini256 commented on #785
@zhangyangyu, It seems that prow uses a separate plugin named `help` to support these special labels.

- /help
- /remove-help
- /good-first-issue
- /remove-good-first-issue

[2022-02-23 16:55] zhangyangyu commented on #785
That's nice if it works.

[2022-03-18 07:44] lance6716 commented on #539
/remove-lifecycle rotten

[2022-04-27 09:34] Mini256 commented on #856
/remove-lifecycle rotten

[2022-04-28 06:36] Mini256 commented on #679
/remove-lifecycle rotten

[2022-06-17 00:46] Mini256 commented on #539
/remove-lifecycle stale

cc: @wuhuizuo, PTAL~

[2022-06-21 08:09] wuhuizuo opened #968 "cc no effect"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

- PR or Issue Link:

### Steps to reproduce(Optional)

### What is expected?
`/cc` can assign reviewer
### What is actually happening?

no effect
https://github.com/chaos-mesh/chaos-mesh/pull/3343#issuecomment-1161326538

it happened before two years ago

[2022-06-21 08:11] wuhuizuo commented on #968
@STRRL

[2022-06-21 08:24] STRRL commented on #968
https://github.com/chaos-mesh/chaos-mesh/pull/3192#issuecomment-1110565775
https://github.com/chaos-mesh/chaos-mesh/pull/3293#issuecomment-1137058217

More detail about that: @Yangkeao is always Chaos Mesh Maintainer since 2 years ago.

Command `/cc` still worked on 2022-04-27: https://github.com/chaos-mesh/chaos-mesh/pull/3192#issuecomment-1110565775
but it did not work after 2022-05-25(maybe eve

[2022-07-15 10:26] wuhuizuo opened #979 "[ti-community-lgtm] racing bug"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: TiDB

- PR or Issue Link: pingcap/tidb#36242

### Steps to reproduce(Optional)
concurrent with two approves
### What is expected?
PR's lgtm label should be set or updated with `lgtm2`
### What is actually happening?
only `lgtm1` been set.

[2022-07-15 10:26] wuhuizuo commented on #979
/asign wuhuizuo

[2022-07-15 10:26] wuhuizuo commented on #979
/assign wuhuizuo

[2022-07-15 11:31] wuhuizuo opened #980 "rebase queue hold too long"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project: TiDB

- PR or Issue Link: pingcap/tidb#36105

### Describe the feature you'd like:

make rebase job reactor fast, current prow plugin deal pulls order by created time ASC.
the plugin is [tars](https://boo

[2022-07-15 11:31] wuhuizuo commented on #980
/assign wuhuizuo

[2022-08-01 06:13] wuhuizuo opened #986 "label dumping tool build depend `.env` file"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Steps to reproduce(Optional)

1. run `cargo build` `in tools/label-dumpling` dir

### What is expected?

1. build succeed

### What is actually happening?

![wnfM5XNP3u](https://user-images.githubusercontent.com/2574558/182083362-dd2ce732-f868-4897-9343-9dc53b3bee56.png)

### Suggest

[2022-08-08 07:43] s3nt3 opened #990 "Approval status and LGT* tags not properly synchronized"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: [ti-community-infra/test-dev](https://github.com/ti-community-infra/test-dev)

- PR or Issue Link: [ti-community-infra/test-dev#522](https://github.com/ti-community-infra/test-dev/pull/522) & [ti-community-infra/test-dev#523](https://github.com/ti-communi

[2022-08-08 07:44] s3nt3 commented on #990
/cc @wuhuizuo

[2022-08-09 11:35] 3AceShowHand opened #995 "robot does not work when miss the linked issue."
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

TiCDC

- PR or Issue Link:

https://github.com/pingcap/tiflow/pulls?q=is%3Apr+base%3Arelease-6.1-20220719+is%3Aclosed

### Steps to reproduce(Optional)

### What is expected?

### What is actually happening?

[2022-08-11 06:12] wuhuizuo opened #996 "issuetriage: add wont fix versions to make no cherry pick pr created for those version branches"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:  TiKV/TiDB

### Describe the feature you'd like:

do not label the PR with `need-cherry-pici-x.y` if `x.y` is in won't fix vesions.

### Do you have any ideas on how to implement it?(Optional)

- add `won

[2022-08-18 18:41] #996 closed

[2022-08-23 03:28] wuhuizuo opened #1010 "auto invite collaborator when cherry-pick plugin create a PR"
## Feature Request

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Is your feature request related to a Issue or PR(Optional)

- Which project:

- PR or Issue Link:

### Describe the feature you'd like:
- auto invite collaborator when cherry-pick plugin create a PR
- when invitation expired, user can send a comment to request a new invitation.
##

[2022-09-15 03:20] STRRL opened #1029 "book.prow.tidb.io is not available"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

https://book.prow.tidb.io/

### Steps to reproduce(Optional)

### What is expected?

### What is actually happening?

<img width="1506" alt="image" src="https://user-images.githubusercontent.com/20221408/190306220-8b75a74a-2792-4e65-ba33-74fb208be2cc.png">

[2022-09-20 10:23] JaySon-Huang opened #1032 "The command list is incomplete"
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project: TiFlash

- PR or Issue Link:

### Steps to reproduce(Optional)

![image](https://user-images.githubusercontent.com/4865550/191234013-d625c328-ed55-4559-8db4-b6a1b89cc689.png)

![image](https://user-images.githubusercontent.com/4865550/191233938-3024fc21-c

[2022-09-21 06:28] LittleFall opened #1034 "ti-chi won't decrease LGTM count when lgtm is dismissed."
## Bug Report

- [x] I have searched the issues of this repository and believe that this is not a duplicate.

### Related link

- Which project:

tiflash, maybe all.

- PR or Issue Link:

https://github.com/pingcap/tiflash/pull/5957

### Steps to reproduce(Optional)

<img width="971" alt="image" src="https://user-images.githubusercontent.com/30543181/191430197-4b0e18df-f5af-4f83-9a0e-ba15afdc219e.

[2022-10-20 05:50] wuhuizuo commented on #979
/remove-lifecycle stale

[2022-11-01 08:05] wuhuizuo commented on #1010
current support request invitation in https://github.com/ti-community-infra/tichi/issues/1010. close.

[2022-11-01 08:05] #1010 closed

[2022-11-09 17:36] renovate opened #1065 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/ti-community-infra/tichi).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Ra

[2022-11-11 13:17] wuhuizuo commented on #1065
/type ?

[2022-11-11 14:32] wuhuizuo commented on #407
/close

[2022-11-11 14:32] #407 closed

[2022-11-11 14:39] wuhuizuo commented on #1032
The builds trigger by those commands are not prow jobs, they are Jenkins jobs.

Please see PingCAP inner document: https://pingcap.feishu.cn/wiki/wikcnt7L4NBypIiXvkftx5fgqxe

[2022-11-11 14:39] #1032 closed